.ClickButton {
  
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin-right: 50px;
  border-radius: 6px;
  background-color: rgba(3, 174, 238, 1);
   padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease-in-out;
}
